*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    padding-top: 100px;
}

.projects {
    width: fit-content;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(2, 100%);
    grid-auto-rows: 100%;
    grid-auto-columns: 10px;
    gap: 5px;
}

.addprojectbutton {
    font-weight:bolder;
    appearance: none;
    border: none;
    font-size: 45px;
    padding-bottom: 25px;
    grid-column: 1/2;
}

.addprojectbutton:hover {
    filter:brightness(0.9);
}

.taskbackground {
    background-color: white;
    border: double black 2px;
    width: 200px;
}